<article class="header">
    <figure class="header__logo-container">
        <img
          class="header__logo"
          src="../../../../assets/images/location.svg"
          alt="location icon"
        />
      </figure>
      <div class="header__location">
        <h3 class="header__location-title">DELIVER TO</h3>
        <div class="header__location-info">
          <p class="header__location-address">882 Well St, New-York</p>
          <img
            class="header__location-arrow"
            src="../../../../assets/images/arrow-down.svg"
            alt="arrow icon"
          />
        </div>
      </d>
</article>
