<article class="header">
  <figure class="header__icon-container">
    <img
      class="header__icon"
      src="../../../../assets/images/location.svg"
      alt="location icon"
    />
  </figure>
  <div class="header__location">
    <h3 class="header__location-title">DELIVER TO</h3>
    <div class="header__location-info" routerLink="/profile/edit">
      <p class="header__location-address">882 Well St, New-York</p>
      <img
        class="header__location-arrow"
        src="../../../../assets/images/arrow-down.svg"
        alt="arrow icon"
      />
    </div>
  </div>
</article>
