<main class="dish">
    <section class="dish__container">
        <article class="dish__info-container">
            <img  class="dish__arrow-prev-icon" src="../../../../../assets/images/arrow-prev.svg" alt="arrow icon">
            <figure class="dish__image-container">
                <img class="dish__image" [src]="dish.image" alt="">
            </figure>
            <div class="dish__info">
                <div class="dish__title-container">
                    <h1 class="dish__title">{{dish.name}}</h1>
                    <p class="dish__time"></p>
                </div>
                <p></p>
            </div>
        </article>
        <article>
            <h2></h2>
        </article>
    </section>
    <section></section>
</main>
