@import "../../../../assets/styles/variables.scss";

.home {
    background-color: #fcfcfc;
    padding: 0rem 1.5rem 5.5rem 1.5rem;

    &__carrousel {
        gap: 0.5rem;
        width: 100%;
        display: flex;
        overflow: auto;
        margin-bottom: 0.8rem;
        scrollbar-width: none;
        border-radius: 10px;
    }

    &__image {
        height: 80px;
        min-width: 48.5%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__title {
        font-weight: 300;
        font-size: 15px;
        color: $dark-color;
        margin-bottom: 1rem;
    }

    &__filter-options {
        gap: 0.5rem;
        width: 100%;
        display: flex;
        overflow: auto;
        scrollbar-width: none;
        border-radius: 5px;
        margin-bottom: 1.5rem;
    }

    &__filter-option {
        gap: 0.3rem;
        display: flex;
        min-width: 31.6%;
        border-radius: 5px;
        align-items: center;
        padding: 0.6rem 0.5rem;
        justify-content: center;
        background-color: $light-gray;

        &--text {
            font-size: 13px;
            color: $font-buttons-category-color;
            text-align: center;
        }

        &--icon {
            width: 1rem;
        }

        &--selectd {
            background-color: $main-color;
        }
    }

    &__restaurants {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
    }

}