@import "../../../../assets/styles/variables.scss";

.dish-info {
    padding: 8px;
    border-radius: 15px;
    border: 1px solid rgba(226, 226, 226, 0.253);

    &__image-container {
        display: flex;
    }

    &__image {
        width: 38vw;
        max-width: 155px;
        border-radius: 10px;
        margin-bottom: 0.6rem;
    }

    &__name {
        font-size: 16px;
        font-weight: 400;
        color: $dark-color;
        padding-left: 0.2rem;
        margin-bottom: 0.3rem;
    }

    &__price {
        font-size: 15px;
        color: $gray-color;
        margin-bottom: 5px;
        padding-left: 0.2rem;
    }
}