@import "../../../../assets/styles/variables.scss";

.header-desktop {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-and-address-container {
        display: flex;
        gap: 0.4rem;
    }

    &__logo-container {
        display: flex;
    }

    &__logo {
        width: 3rem;
    }

    &__nav-container {
        display: flex;
        gap: 0.4rem;
        align-items: center;
    }
}