<header class="header-desktop">
  <section class="header-desktop__logo-and-address-container">
    <figure class="header-desktop__logo-container">
      <img
        src="../../../../assets/images/logo.svg"
        alt=""
        class="header-desktop__logo"
      />
    </figure>
    <address-header></address-header>
  </section>
  <section class="header-desktop__nav-container">
    <nav class="header-desktop__nav">
      <ul
        *ngIf="!userLogged; else optionsUserLogged"
        class="header-desktop__nav-options"
      >
        <li
          *ngFor="let option of headerOptions"
          class="header-desktop__nav-option"
          [routerLink]="option.path"
        >
          {{ option.title }}
        </li>
      </ul>
      <ng-template #optionsUserLogged>
        <ul class="header-desktop__nav-options">
          <li
            *ngFor="let option of headerOptionsUserLogged"
            class="header-desktop__nav-option"
            [routerLink]="option.path"
          >
            {{ option.title }}
          </li>
        </ul>
      </ng-template>
    </nav>
    <hr />
    <article
      *ngIf="!userLogged; else shoppingCart"
      class="header-desktop__login-options"
    >
      <button class="header-desktop__login-button" routerLink="/login">
        Login
      </button>
      <button class="header-desktop__signup-button" routerLink="/sign-up">
        Sign Up
      </button>
    </article>
    <ng-template #shoppingCart>
      <figure class="header-desktop__shopping-cart-container">
        <img
          src="../../../../assets/images/cart.svg"
          alt="shopping cart icon"
          class="header-desktop__shopping-cart"
        />
      </figure>
    </ng-template>
  </section>
</header>
