@import "../../../../assets/styles/variables.scss";

.restaurant-card {
    width: 100%;
    gap: 1rem;
    display: flex;
    background-color: white;
    border-radius: 10px;

    &__image {
        width: 130px;
        height: 130px;
        border-radius: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 17%, 54% 100%, 0 100%, 0% 50%);
    }

    &__info {
        padding: 0.5rem;
        display: flex;
        gap: 0.1rem;
        width: 100%;
        flex-direction: column;
    }

    &__name {
        font-size: 15px;
        color: $dark-color;
        font-weight: 400;
        margin-top: 1rem;
    }

    &__rating-container {
        gap: 1px;
        display: flex;
        align-items: center;
        margin-bottom: 0.7rem;
    }

    &__rating {
        width: 12px;

        &--full {
            filter: invert(85%) sepia(84%) saturate(895%) hue-rotate(327deg) brightness(104%) contrast(102%);
        }

        &--empty {
            filter: invert(96%) sepia(0%) saturate(1257%) hue-rotate(167deg) brightness(90%) contrast(106%);
        }
    }

    &__work-time {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 2px;
        color: $dark-color;
    }

    &__delivery-price {
        font-size: 13px;
        font-weight: 300;
        color: $gray-color;
        span {
            color: $dark-color;
        }
    }

}