<header-mobile *ngIf="isMobile"></header-mobile>
<main class="home" *ngIf="restaurants; else loader">
  <section class="home__carrousel">
    <img
      *ngFor="let image of carrouselImages"
      [src]="image.path"
      [alt]="image.name"
      class="home__image"
    />
  </section>
  <h1 class="home__title">Restaurants</h1>
  <article class="home__filter-options">
    <section
      *ngFor="let option of filterOptions"
      class="home__filter-option"
      [ngClass]="{
        'home__filter-option--selected': option.value == selectedOption
      }"
      (click)="selectOption(option.value)"
    >
      <img
        *ngIf="option?.path"
        [src]="option.path"
        alt="{{ option.value }} image"
        class="home__filter-option--icon"
      />
      <p class="home__filter-option--text">{{ option.value | titlecase }}</p>
    </section>
  </article>
  <article class="home__restaurants">
    <restaurant-card
      *ngFor="let restaurant of filteredRestaurants"
      [restaurantInfo]="restaurant"
    ></restaurant-card>
  </article>
</main>
<ng-template #loader>
  <shared-loader></shared-loader>
</ng-template>
