<header class="header-mobile">
  <figure class="header-mobile__logo-container">
    <img class="header-mobile__logo" src="../../../../assets/images/location.svg" alt="location icon" />
  </figure>
  <section class="header-mobile__location">
    <h3 class="header-mobile__location-title">DELIVER TO</h3>
    <div class="header-mobile__location-info">
        <p class="header-mobile__location-address">882 Well St, New-York</p>
        <img class="header-mobile__location-arrow" src="../../../../assets/images/arrow-down.svg" alt="arrow icon">
    </div>
  </section>
</header>
