<main class="sign-in">
  <figure class="sign-in__delivery-logo-container">
    <img src="../../../assets/images/logo.svg" alt="logo icon" />
  </figure>
  <form class="sign-in__form">
    <h1 class="sign-in__title">Login</h1>
    <label class="sign-in__label">
        <span>Email</span>
      <input type="email"  class="sign-in__email"  />
    </label>
    <label class="sign-in__label">
        <span>Password</span>
      <input type="password"  class="sign-in__password" />
    </label>
    <section class="sign-in__buttons-container">
      <button class="sign-in__sign-in-button">
        <span> Sign In </span>
      </button>
      <button class="sign-in__google-button">
        <img
          src="../../../assets/images/google.svg"
          alt=""
          class="sign-in__google-icon"
        />
        <span> Google </span>
      </button>
    </section>
    <p class="sign-in__create-account">Create account</p>
  </form>
</main>
