<main class="sign-in">
    <figure class="sign-in__delivery-logo-container">
        <img src="../../../assets/images/logo.svg" alt="logo icon" class="sign-in__delivery-logo">
    </figure>
    <form class="sign-in__form">
        <h1 class="sign-in__title">Sign In</h1>
        <label class="sign-in__label">
            <input type="email" placeholder="Email" class="sign-in__sign-in">
        </label>
        <label class="sign-in__label">
            <input type="password" placeholder="Password" class="sign-in__sign-in">
        </label>
        <section class="sign-in__buttons-container">
            <button class="sign-in__sign-in-button">
                <span>
                    Sign In
                </span>
            </button>
            <button class="sign-in__google-button">
                <img src="../../../assets/images/google.svg" alt="" class="sign-in__google-icon">
                <span>
                    Google
                </span>
            </button>
        </section>
    </form>
</main>